@import url("style.css");

h2 {
  text-align: center;
  font-family: var(--Abel);
  font-size: 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: var(--Josefin);
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form-container {
  margin: 3rem 15rem;
  align-items: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-container label{
  font-family: var(--Lexend);
}

#errors{
  text-align:center;
  color: rgb(185, 39, 39);
  font-size:1.2rem;
}
@media screen and (max-width: 1000px) {
  .form-container {
    margin: 3rem 10rem;
  }
}

@media screen and (max-width: 700px) {
  .form-container {
    margin: 3rem 5rem;
  }
}

@media screen and (max-width: 450px) {
  .form-container {
    margin: 3rem 1rem;
  }
}
